@font-face {
  font-family: 'Exo';
  src: url('../styles/Fonts/Exo-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('../styles/Fonts/Exo-Medium.ttf')  format('truetype');
  font-weight: medium;
  font-style: normal;
} 

.gameCanvas {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #ccc;
}
