@font-face {
  font-family: 'Exo';
  src: url('../styles/Fonts/Exo-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('../styles/Fonts/Exo-Medium.ttf')  format('truetype');
  font-weight: medium;
  font-style: normal;
} 

.gameCanvas {
  display: block;
  object-fit:contain;
  /* max-height:100%; */
  background: #ccc;
  /* position: relative; */
  /* justify-self: center; */
  /* border: 3px solid red; */
}
