.default.background{
    background-image: url("./images/bg-color-matched-to-logo.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.mobile.background{
    background-image: url("./images/mobile\ bg\ only\ color\ matched.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.default.border{
    background-image: url("./images/individuals/border.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.mobile.border{
    /* background-image: url("./images/individuals/border.png"); */
    border: 2px red dashed;
    width: 100%;
    height: 100%
}

.default.title{
    background-image: url("./images/individuals/title\ menu.png");
    background-position: center;
    background-size: cover;
    width: 15%;
    height: 15%;
    margin-left: 43%;
    
}

.title.font{
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}

.hide{
    color: transparent;
}

.default.high{
    background-image: url("./images/individuals/title\ menu.png");
    background-position: center;
    background-size: cover;
    width: 15%;
    height: 55%;
    margin-left: 15%;
}

.default.customize{
    background-image: url("./images/individuals/large\ menu.png");
    background-position: center;
    background-size: cover;
    width: 165%;
    height: 60%;
    margin-left: 350%;
}

.default.login{
    background-image: url("./images/individuals/buttons\ menu.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30%;
    margin-left: 190%;
    margin-bottom: 10000%;
    margin-top: -10%;
}