.default.background{
    background-image: url("./images/bg-color-matched-to-logo.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.mobile.background{
    background-image: url("./images/mobile\ bg\ only\ color\ matched.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.default.border{
    background-image: url("./images/individuals/border.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.mobile.border{
    /* background-image: url("./images/individuals/border.png"); */
    border: 2px red dashed;
    width: 100%;
    height: 100%
}

.default.title{
    position: absolute;
    top: 40px;
    left: 40.5%;
    background-image: url("./images/individuals/title\ menu.png");
    background-position: center;
    background-size: 100% 100%;
    width: 20%;
    height: 20%;
    /* margin-left: 43%; */
    
}

.title.font{
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}

.hide{
    color: transparent;
}

.default.high{
    position: absolute;
    top: 150px;
    left: 15%;
    background-image: url("./images/individuals/long menu.png");
    background-position: center;
    background-size: 100% 100%;
    width: 15%;
    height: 60%;
}

.default.customize{
    position: absolute;
    background-image: url("./images/individuals/long\ menu\ mirrored.png");
    background-position: center;
    background-size: 100% 100%;
    width: 165%;
    height: 60%;
    margin-left: 350%;
}

.default.login{
    position: absolute;
    top: 450px;
    left: 40.5%;
    background-image: url("./images/individuals/buttons\ menu.png");
    background-position: center;
    background-size: 100% 100%;
    width: 20%;
    height: 20%;
}