.loginBox{
    background-image: url("./images/individuals/buttons\ menu.png");
    background-position: center;
    background-size: 100% 100%;
    width: 25%;
    height: 54%;
    position: absolute;
    left: 55%;
    top: 18%;
}

.loginTitle{
    background-image: url("./images/individuals/title\ logo\ example\ with\ bg.png");
    position: absolute;
    top: 23%;
    left: 13%;
    background-position: center;
    background-size: 100% 100%;
    width: 35%;
    height: 45%;
}

.card-front, .card-back{
    position: absolute;
    width: 70%;
    height: 110%;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    margin-top: 5%;
    margin-left: 14%;
}

.card-title{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 2.5em;
    
}



.input-box{
    width: 100%;
    background: transparent;
    border: 5px solid #fff;
    margin: 20px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;  
    text-align: center;
    color: #E414C3;
    border-color: #E414C3;
    flex-grow: 1; 
}

::placeholder{
    color: #E414C3;
    font-size: 12px;
    font-weight: bold;
    
}

button{
    width: 100%;
    background: transparent;
    border: 5px solid #E414C3;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;    
    border-radius: 20px;    
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #E414C3;
    cursor: pointer;
    font-weight: bolder;
}

.submit-btn{
    position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -5.5px;
    top: -5px;

}

span{
    font-size: 13px;
    margin-left: 10px;
}

.card .btn{
    margin-top: 70px;
}