.background{
    background-image: url("./images/individuals/background\ image\ original.jpg");
    background-position: center;
    height: 1000px;
    width: 100%;
    background-size: cover;
}
/* ./images/individuals/background\ image\ original.jpg */
.border{
    background-image: url("./images/individuals/border.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.box{
    background-image: url("./images/individuals/buttons\ menu.png");
    background-position: center;
    background-size: 100% 100%;
    width: 45%;
    height: 55%;
    position: absolute;
    left: 28%;
    top: 15%;

    
}


